name: Supabase Keep-Alive

on:
  schedule:
    - cron: "0 1 * * *"
  # هذا السطر يسمح لك بتشغيله يدوياً
  workflow_dispatch: {}

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - name: Send API Request to Supabase
        run: |
          curl -X GET \
          'https://wjaqthkgwmqnuesrsvxr.supabase.co/rest/v1/users?select=id&limit=1' \
          -H 'apikey: ${{ secrets.SUPABASE_ANON_KEY }}' \
          -H 'Authorization: Bearer ${{ secrets.SUPABASE_ANON_KEY }}'
